@charset "utf-8";

@import url(font-awesome.css);

/* CSS Document */
html, body {
  background: rgba(20,20,20,1);
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6,p {
 line-height: 1;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
p { font-size: 1em; }

.titulo {
	text-align:center;
	color:#FFF;
}

.foto {
    padding-top: 3%;
	margin: auto;
	width: 80%;
}

.foto img
{
  display: block;
  max-width: 100%;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.embed-container {
    margin-top: 1%;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.embed-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.embed-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    margin-top: 5%;
    height: 100%;
}
.text {
	width: 100%;
    height: 100%;
}
.text p {
	padding: 0% 7%;
	font: 0.8em 'itc_avant_garde_gothic_proMd';
	font-weight:bold;
	color:#000;
	text-align: left;
}

.text a {
    text-decoration:none;
    color: #b70f0f;
}
.info {
    position:absolute;
    margin-top: 50%;
    left: 50%;
}
.narracion {
    position: relative;
    left: -50%;
    width:30%;
}

.npag {
    margin-top: 20%;
	width: 100%;
    position: relative;
    left: -50%;
}

.npag p {
	font: 0.8em 'itc_avant_garde_gothic_proMd';
	font-weight:bold;
	color:#000;
	text-align: center;
}

.textcreditos {
	padding-top: 20%;
	width: 100%;
}

.textcreditos p {
	padding: 0% 20%;
	font: 0.65em 'itc_avant_garde_gothic_proMd';
	color:#000;
	text-align: left;
}

.siguiente {
    position: absolute;
    z-index: 2000;
    height: 50%;
    padding-top:25%;
    left:94.5%;
}

.siguiente a {
    font-size: 2em;
	color:#ac7c45;
}

.anterior {
    position: absolute;
    z-index: 2000;
    height: 50%;
    padding-top:25%;
}

.anterior a {
    font-size: 2em;
	color:#ac7c45;
}

@media screen and (max-width: 85em){
    .text p {
	   padding: 0% 7%;
	   font: 0.75em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
	   color:#000;
	   text-align: left;
    }

    .npag p {
	   font: 0.7em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
        color:#000;
        text-align: center;
    }

}

@media screen and (max-width: 75em){
    .text p {
	   padding: 0% 7%;
	   font: 0.6em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
	   color:#000;
	   text-align: left;
    }

    .npag p {
	   font: 0.5em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
        color:#000;
        text-align: center;
    }
}

@media screen and (max-width: 45em){
    .text p {
	   padding: 0% 5%;
	   font: 0.8em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
	   color:#000;
	   text-align: left;
    }

    .npag p {
	   font: 0.6em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
        color:#000;
        text-align: center;
    }
}
@media screen and (max-width: 35em){
    .text p {
	   padding: 0% 4%;
	   font: 0.7em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
	   color:#000;
	   text-align: left;
    }

    .npag p {
	   font: 0.6em 'itc_avant_garde_gothic_proMd';
	   font-weight:bold;
        color:#000;
        text-align: center;
    }
}
